* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}

/* -------------------------------------------NAVBAR STYLING STARTED----------------------------------------------------*/
nav.navbar {
  background-color: rgba(255, 255, 255, 0.458);
  color: #000;
}
ul {
  margin: 0 40px 0 0;
}
li.nav-item {
  margin: 0px 10px 0px 10px;
  padding: 5px;
}
li.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.158);
  margin: 2px 10px 2px 10px;
  border-radius: 5px;
}

/* -------------------------------------------NAVBAR STYLING ENDED----------------------------------------------------*/
/* -------------------------------------------SLIDING ANIMATION STYING STARTED----------------------------------------------------*/
/*  Customize the carousel height and width */
#carousel {
  width: 100%;
  max-width: auto;
  margin: 0 auto;
}

/*  Center the images within the carousel */
#carousel .carousel-inner img {
  display: block;
  margin: 0 auto;
}
/* Images Text */
.centered {
  color: whitesmoke;
  font-size: 3rem;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 500px) {
  .centered {
    font-size: 1.9rem;
  }
}
/* -------------------------------------------SLIDING ANIMATION STYING ENDED----------------------------------------------------*/




/* -------------------------------------------------FADING Effect in Slider----------------------------------------------*/
@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.typed {
  animation: fadeInText 2s ease-in-out forwards;

}

/* -------------------------------------------------FADING Effect in Slider----------------------------------------------*/






/* -----------------------------------------------------WHAT DO WE DO PART STARTED ---------------------------------------------------------------- */

.header-content {
  padding: 40px;
  background-color: #007bff;
  color: #fff;
}

h2.text-center {
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 40px;
}

@media (max-width: 576px) {
  h2 {
    text-align: center;
  }
}

.about-description {
  font-size: 1rem;
  padding: 20px;
  background-color: rgba(255, 166, 0, 0.625);
  border-radius: 10px;
}

.about-description p {
  margin-bottom: 1rem;
}

/* -----------------------------------------------------WHAT DO WE DO PART ENDED----------------------------------------------------- */

/*---------------------------------------------- OUR SERVICES PART STARTED ------------------------------------------------------*/
h1.ourservices {
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(90deg, #33cc99, #66cc99, #99cc99);
  -webkit-background-clip: text;
  text-transform: uppercase;
  letter-spacing: 2px;
  animation: gradientAnimation 5s linear infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 450px) {
  h1.ourservices {
    font-size: 2rem;
  }
}

div.pands {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
div.servicecards {
  /*   border-color: rgb(88, 160, 232);
 */ /* border-width: 5px; */
  margin: 10px;
  background-color: #fdb7138c;
  /*     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 */

  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Classic box shadow */
}

/* div.servicecards:hover {
  box-shadow:black 2px;
} */
img.serviceimg {
  border-color: black;
  border-width: 5px;
}

a.servicebtn {
  border-color: black;
  border-width: 2px;
}

a.servicebtn:hover {
  background-color: #fdb71393;
  border-color: black;
}

div.viewmorebtn {
  display: flex;
  justify-content: center;
  margin: 20px 0 0 0;
}

button.view-more {
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Classic box shadow */
  padding: 20px 40px 20px 40px;
}
/*---------------------------------------------------------------OUR SERVICES PART ENDED ----------------------------------------------------------------------*/

/*---------------------------------------------------------------OUR CLIENTS PART STARTED ----------------------------------------------------------------------*/

/* Custom styles for the "Our Clients" section */
#our-clients {
  background-color: #f7f7f7;
  padding: 40px 0;
}

h2.text-center {
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.client-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.client-logo img {
  max-height: 80%;
  max-width: 80%;
}

.client-logo:hover {
  transform: translateY(-5px);
}

/*---------------------------------------------------------------OUR CLIENTS PART ENDED ----------------------------------------------------------------------*/

/*---------------------------------------------------------------TESTIMONIALS PART STARTED ----------------------------------------------------------------------*/
h1.testimonials {
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
  color: transparent; 
  background-clip: text; 
  background-image: linear-gradient(
    90deg,
    #33cccc,
    #66cc99
  ); 
  -webkit-background-clip: text; 
  text-transform: uppercase;
  letter-spacing: 2px; 
  animation: gradientAnimation 5s linear infinite; 
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 450px) {
  h1.testimonials {
    font-size: 2rem;
  }
}

.bubble {
  --r: 25px; /* the radius */
  --t: 30px; /* the size of the tail */

  max-width: 500px;
  padding: calc(2 * var(--r) / 3);
  -webkit-mask: radial-gradient(var(--t) at var(--_d) 0, #0000 98%, #000 102%)
      var(--_d) 100% / calc(100% - var(--r)) var(--t) no-repeat,
    conic-gradient(at var(--r) var(--r), #000 75%, #0000 0) calc(var(--r) / -2)
      calc(var(--r) / -2) padding-box,
    radial-gradient(50% 50%, #000 98%, #0000 101%) 0 0 / var(--r) var(--r) space
      padding-box;
  background: #8e38a1 border-box;
  color: whitesmoke;
  margin-bottom: 10px;
  position: relative;
  transition: transform 0.3s ease;
}
.bubble:hover {

  transform: translate(0, -10px);
}
.left {
  --_d: 100%;
  border-right: var(--t) solid #0000;
  margin-left: var(--t);
  place-self: end;
  margin-top: 20px;
}

/*--------------------------------------------------------TESTIMONIALS PART ENDED ----------------------------------------------------------------------*/

/* -----------------------------------------------------CREDIT AND DEBIT CARD PROCESSING PAGE STARTED------------------------------------------------------------ */

div.ccanddc-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  flex-shrink: initial;
  height: 40vh;
}

div.ccanddc-hero h1 {
  font-size: 4rem;
  color: whitesmoke;
  font-weight: bold;
  text-shadow: -1px -1px 1px whitesmoke, 1px -1px 1px whitesmoke,
    -1px 1px 1px rgb(0, 0, 0), 1px 1px 1px rgb(0, 0, 0);
  text-align: center;
}

@media (max-width: 450px) {
  div.ccanddc-hero h1 {
    font-size: 2rem;
  }
}

/* -----------------------------------------------------CREDIT AND DEBIT CARD PROCESSING PAGE ENDED------------------------------------------------------------ */

/* -----------------------------------------------------E-Commerce and Mail Order Merchants PAGE ENDED------------------------------------------------------------ */
div.ecommerce_mailorde-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  flex-shrink: initial;
  height: 40vh;
}

div.ecommerce_mailorde-hero h1 {
  font-size: 4rem;
  color: whitesmoke;
  font-weight: bold;
  text-shadow: -1px -1px 1px whitesmoke, 1px -1px 1px whitesmoke,
    -1px 1px 1px rgb(0, 0, 0), 1px 1px 1px rgb(0, 0, 0);
  text-align: center;
}

@media (max-width: 450px) {
  div.ecommerce_mailorde-hero h1 {
    font-size: 2rem;
  }
}

/* -----------------------------------------------------E-Commerce and Mail Order Merchants PAGE ENDED------------------------------------------------------------ */

/* ----------------------------------------------------- Merchant Cash PAGE STARTED------------------------------------------------------------ */
div.merchantcash-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  flex-shrink: initial;
  height: 40vh;
}

div.merchantcash-hero h1 {
  font-size: 4rem;
  color: whitesmoke;
  font-weight: bold;
  text-shadow: -1px -1px 1px whitesmoke, 1px -1px 1px whitesmoke,
    -1px 1px 1px rgb(0, 0, 0), 1px 1px 1px rgb(0, 0, 0);
  text-align: center;
}

div.merchantform {
  background-size: cover;
  color: white;
  border-radius: 5px;
  display: flex;
}


  #part1,
  #part2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #part1 .input-group-md,
  #part2 .input-group-md {
    max-width: 300px; 
  }

  #part1 .input-group-md,
  #part2 .input-group-md {
    margin: 5px;
  }

  #part1 .form-control:focus,
  #part2 .form-control:focus {
    background-color: rgba(255, 255, 255, 0.532);
  }




/* ----------------------------------------------------- Merchant Cash PAGE ENDED------------------------------------------------------------ */

/* -----------------------------------------------------Check Guarantee PAGE STARTED------------------------------------------------------------ */
div.checkguarantee-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  flex-shrink: initial;
  height: 40vh;
}

div.checkguarantee-hero h1 {
  font-size: 4rem;
  color: whitesmoke;
  font-weight: bold;
  text-shadow: -1px -1px 1px whitesmoke, 1px -1px 1px whitesmoke,
    -1px 1px 1px rgb(0, 0, 0), 1px 1px 1px rgb(0, 0, 0);
  text-align: center;
}

@media (max-width: 450px) {
  div.checkguarantee-hero h1 {
    font-size: 2rem;
  }
}

/* -----------------------------------------------------Check Guarantee PAGE ENDED------------------------------------------------------------ */

/* -----------------------------------------------------MCR PAGE STARTED------------------------------------------------------------ */

div.mcr-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  flex-shrink: initial;
  height: 40vh;
}

div.mcr-hero h1 {
  font-size: 4rem;
  color: whitesmoke;
  font-weight: bold;
  text-shadow: -1px -1px 1px whitesmoke, 1px -1px 1px whitesmoke,
    -1px 1px 1px rgb(0, 0, 0), 1px 1px 1px rgb(0, 0, 0);
  text-align: center;
}

@media (max-width: 450px) {
  div.mcr-hero h1 {
    font-size: 2rem;
  }
}

/* -----------------------------------------------------MCR PAGE ENDED------------------------------------------------------------ */
/* -----------------------------------------------------MCPAY PAGE STARTED------------------------------------------------------------ */

div.mpay-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  flex-shrink: initial;
  height: 40vh;
}

div.mpay-hero h1 {
  font-size: 4rem;
  color: whitesmoke;
  font-weight: bold;
  text-shadow: -1px -1px 1px whitesmoke, 1px -1px 1px whitesmoke,
    -1px 1px 1px rgb(0, 0, 0), 1px 1px 1px rgb(0, 0, 0);
  text-align: center;
}

@media (max-width: 450px) {
  div.mpay-hero h1 {
    font-size: 2rem;
  }
}

/* -----------------------------------------------------MCPAY PAGE ENDED------------------------------------------------------------ */

/* -----------------------------------------------------GIFT AND LOYALTY CARDS  PAGE STARTED------------------------------------------------------------ */

div.giftandloyalty-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  flex-shrink: initial;
  height: 40vh;
}

div.giftandloyalty-hero h1 {
  font-size: 4rem;
  color: whitesmoke;
  font-weight: bold;
  text-shadow: -1px -1px 1px whitesmoke, 1px -1px 1px whitesmoke,
    -1px 1px 1px rgb(0, 0, 0), 1px 1px 1px rgb(0, 0, 0);
  text-align: center;
}

@media (max-width: 450px) {
  div.giftandloyalty-hero h1 {
    font-size: 2rem;
  }
}

/* -----------------------------------------------------GIFT AND LOYALTY CARDS  PAGE ENDED------------------------------------------------------------ */

/* -----------------------------------------------------PrePaid Debit & Payroll Cards  PAGE STARTED------------------------------------------------------------ */

div.prepaid-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  flex-shrink: initial;
  height: 40vh;
}

div.prepaid-hero h1 {
  font-size: 4rem;
  color: whitesmoke;
  font-weight: bold;
  text-shadow: -1px -1px 1px whitesmoke, 1px -1px 1px whitesmoke,
    -1px 1px 1px rgb(0, 0, 0), 1px 1px 1px rgb(0, 0, 0);
  text-align: center;
}

@media (max-width: 450px) {
  div.prepaid-hero h1 {
    font-size: 2rem;
  }
}

/* -----------------------------------------------------PrePaid Debit & Payroll Cards  PAGE ENDED------------------------------------------------------------ */

/* -----------------------------------------------------FRAUD BLASTER  PAGE STARTED------------------------------------------------------------ */

div.fraudblaster-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  flex-shrink: initial;
  height: 40vh;
}

div.fraudblaster-hero h1 {
  font-size: 4rem;
  color: whitesmoke;
  font-weight: bold;
  text-shadow: -1px -1px 1px rgb(0, 0, 0), 1px -1px 1px rgb(0, 0, 0),
    -1px 1px 1px rgb(0, 0, 0), 1px 1px 1px rgb(0, 0, 0);
  text-align: center;
}

@media (max-width: 450px) {
  div.fraudblaster-hero h1 {
    font-size: 2rem;
  }
}

/* -----------------------------------------------------FRAUD BLASTER  PAGE ENDED------------------------------------------------------------ */

/* -----------------------------------------------------FREE ANALYSIS PAGE STARTED------------------------------------------------------------ */

body.freeanalysisbody {
  background: white;
  background-color: white;
}

div.freeanalysis-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  flex-shrink: initial;
  height: 40vh;
  margin-bottom: 20px;
  /* filter: brightness(0.5); */
}

div.freeanalysis-hero h1 {
  font-size: 4rem;
  color: whitesmoke;
  font-weight: bold;
  text-shadow: -1px -1px 1px rgb(0, 0, 0), 1px -1px 1px rgb(0, 0, 0),
    -1px 1px 1px rgb(0, 0, 0), 1px 1px 1px rgb(0, 0, 0);
  text-align: center;
}

div.freeanalysis {
  margin: 0 8px 0 8px;
  background-color: #1a1a1aa3;
  color: white;
  padding: 15px;
}

/* -----------------------------------------------------FREE ANALYSIS PAGE ENDED------------------------------------------------------------ */

/* -----------------------------------------------------PCI COMPLIANCE PAGE STARTED------------------------------------------------------------ */
body.pcicombody {
  background: white;
  background-color: white;
}

div.pci {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  margin: 0 10px 10px 10px;
  padding: 10px;
  border-radius: 15px;
  background-color: rgba(244, 255, 127, 0.278);
}
div.pcicompliance-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  flex-shrink: initial;
  height: 40vh;
  /* filter: brightness(0.5); */
  margin-bottom: 20px;
}
div.pcicompliance-hero h1 {
  font-size: 4rem;
  color: whitesmoke;
  font-weight: bold;
  text-shadow: -1px -1px 1px antiquewhite, 1px -1px 1px antiquewhite,
    -1px 1px 1px antiquewhite, 1px 1px 1px antiquewhite;
  text-align: center;
}

@media (max-width: 450px) {
  div.pcicompliance-hero h1 {
    font-size: 3rem;
  }
}

/* -----------------------------------------------------PCI COMPLIANCE PAGE STARTED------------------------------------------------------------ */
/* ----------------------------------------------------- ABOUT PCI PAGE STARTED------------------------------------------------------------ */
body.aboutpci {
  background: whitesmoke;
  background-color: whitesmoke;
}
div.aboutpcibody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  margin: 0 10px 10px 10px;
  padding: 10px;
  border-radius: 15px;
  background-color: rgba(244, 255, 127, 0.278);
}
div.aboutpci-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  flex-shrink: initial;
  height: 40vh;
  /* filter: brightness(0.5); */
  margin-bottom: 20px;
}
div.aboutpci-hero h1 {
  font-size: 4rem;
  color: whitesmoke;
  font-weight: bold;
  text-shadow: -1px -1px 1px antiquewhite, 1px -1px 1px antiquewhite,
    -1px 1px 1px rgb(0, 0, 0), 1px 1px 1px rgb(0, 0, 0);
  text-align: center;
}

@media (max-width: 450px) {
  div.aboutpci-hero h1 {
    font-size: 3rem;
  }
}
/* ----------------------------------------------------- ABOUT PCI PAGE ENDED------------------------------------------------------------ */

/* ----------------------------------------------------- PCI FAQS PAGE STARTED------------------------------------------------------------ */
body.pcifaqsbody {
  background: white;
  background-color: white;
}

div.pcifaqs-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  flex-shrink: initial;
  height: 40vh;
  /* filter: brightness(0.5); */
  margin-bottom: 20px;
}
div.pcifaqs-hero h1 {
  font-size: 4rem;
  color: whitesmoke;
  font-weight: bold;
  text-shadow: -1px -1px 1px whitesmoke, 1px -1px 1px whitesmoke,
    -1px 1px 1px whitesmoke, 1px 1px 1px whitesmoke;
  text-align: center;
}

@media (max-width: 450px) {
  div.pcifaqs-hero h1 {
    font-size: 3rem;
  }
}

/* Faqs Section Started */

div.faq {
  display: flex;
  padding: 20px;
  border-radius: 20px;
  color: white;
}
div.q-and-a {

  margin-top: 20px;
}

div.question {
  display: flex;

  margin-bottom: 10px;
  cursor: pointer;
  padding: 20px;

  background-color: rgba(128, 128, 128, 0.492);

}

span.arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-top: 10px solid #000;
  border-left: 10px solid#000;
  border-bottom: 10px solid #000;
  border-right: 10px solid #000;
  border-radius: 50%;
  transform: rotate(-45deg);
  margin-right: 10px;
}

span.question-text {
  font-weight: bold;
}

div.answer {
  display: none;
  padding: 10px;
  font-weight: 900;
  color: rgba(128, 128, 128, 0.492);
}
/* Faqs Section Ended */

/* ----------------------------------------------------- PCI FAQS PAGE ENDED------------------------------------------------------------ */

/* ----------------------------------------------------- PCI SECURITY PAGE STARTED------------------------------------------------------------ */

body.pcisecuritybody {
  background: whitesmoke;
  background-color: whitesmoke;
}

div.pcisecurity-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  flex-shrink: initial;
  height: 40vh;
  margin-bottom: 20px;
}
div.pcisecurity-hero h1 {
  font-size: 4rem;
  color: whitesmoke;
  font-weight: bold;
  text-shadow: -1px -1px 1px whitesmoke, 1px -1px 1px whitesmoke,
    -1px 1px 1px whitesmoke, 1px 1px 1px whitesmoke;
  text-align: center;
}

@media (max-width: 450px) {
  div.pcisecurity-hero h1 {
    font-size: 3rem;
  }
}

div.pcis {
  margin: 0 0px 0 0px;
  background-color: #4683b455;
  border-radius: 0px;
  padding: 5px;
}

/* ----------------------------------------------------- PCI SECURITY PAGE ENDED------------------------------------------------------------ */

/* ----------------------------------------------------- PCI COMPLIANCE PAGE STARTED------------------------------------------------------------ */

body.pcicompliancebody {
  background: whitesmoke;
  background-color: whitesmoke;
}

div.pcicompliance-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  flex-shrink: initial;
  height: 40vh;
  /* filter: brightness(0.5); */
  /*  margin-top: -40px; */
  margin-bottom: 20px;
}

div.pbcp {
  margin: 0 8px 0 8px;
  background-color: rgba(246, 99, 126, 0.252);
  padding: 5px;
  border-radius: 5px;
}
div.pbcp h1 {
  font-size: 3rem;
  text-align: center;
}

@media (max-width: 450px) {
  div.pbcp h1 {
    font-size: 2rem;
  }
}

/* ----------------------------------------------------- PCI COMPLIANCE PAGE ENDED------------------------------------------------------------ */

/* -----------------------------------------------------APPLY NOW PAGE STARTED------------------------------------------------------------ */

body.applynowbody {
  background: whitesmoke;
  background-color: whitesmoke;
}

div.applynow-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  flex-shrink: initial;
  height: 40vh;
}

div.applynow-hero h1 {
  font-size: 4rem;
  color: whitesmoke;
  font-weight: bold;
  text-shadow: -1px -1px 1px whitesmoke, 1px -1px 1px whitesmoke,
    -1px 1px 1px whitesmoke, 1px 1px 1px whitesmoke;
  text-align: center;
}

div.applynowform {
  margin: 0 30px 10px 30px;
  background-color: rgba(127, 255, 212, 0.349);
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  background-size: cover;
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.806);
}

div.applynowsubmit {
  display: flex;
  justify-content: center;
  align-items: center;
}

button.applynowsubmit:hover {
  background-color: #ffffff6b;
}

input.apn,
select.apn {
  color: whitesmoke;
  background-color: transparent;
}

div.callcard {
  text-align: center;
  margin: 0 30px 10px 30px;
  padding: 10px;
  border-radius: 10px;

  position: relative;
  transition: transform 0.1s ease;
}

div.callcard:hover {
  animation: shake 0.3s ease;
}

@keyframes shake {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(-1px, -1px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translate(1px, 1px);
  }
}

/* -----------------------------------------------------APPLY NOW PAGE ENDED------------------------------------------------------------ */

/* -----------------------------------------------------CONTACT US PAGE STARTED------------------------------------------------------------ */
body.contactusbody {
  background: white;
  background-color: white;
}
div.contactus-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  flex-shrink: initial;
  height: 40vh;
  margin-bottom: 20px;
}
div.contactus-hero h1 {
  font-size: 4rem;
  font-weight: bold;
  text-shadow: -1px -1px 1px antiquewhite, 1px -1px 1px antiquewhite,
    -1px 1px 1px antiquewhite, 1px 1px 1px antiquewhite;
  text-align: center;
}

div.contactformsection {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-shrink: initial;
  flex-wrap: wrap;
  background-size: cover;
}
div.cdetails {
  align-items: center;
  text-align: center;
  background-color: rgba(245, 245, 245, 0.668);
  padding: 50px 40px 40px 40px;
  /* border-radius: 50%; */
}
@media (max-width: 1400px) {
  div.cdetails {
    width: 100%;
  }
}
div.form {
  font-weight: bold;
  padding: 30px;
}
div.form:hover {
  background-color: rgba(245, 245, 245, 0.668);
  transition: 1s;
}

input.cs,
textarea.cs {
  background-color: transparent;
  border-color: white;
}
div.csbtn {
  display: flex;
  justify-content: center;
}
button.Submit {
  width: 100%;
  border-color: rgba(0, 255, 255, 0.468);
  font-weight: 700;
}
button.Submit:hover {
  background-color: rgba(0, 255, 255, 0.468);
}
/* -----------------------------------------------------CONTACT US PAGE ENDED------------------------------------------------------------ */

/* ------------------------------------------------FOOTER STYLING----------------------------------------------------------------------------- */

/* ------------------------------------------------FOOTER STYLING----------------------------------------------------------------------------- */
