
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;   
     
}
a{
    text-decoration: none;
}
body{
    background-color: #0093E9;
    background: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}
/* -------------------------------------------NAVBAR STYLING STARTED----------------------------------------------------*/
nav.navbar{
    background-color: rgba(255, 255, 255, 0.458);
}
ul{
    margin: 0 40px 0 0;
}
li.nav-item{
    margin: 0px 10px 0px 10px;
    padding: 5px;
    
}
li.nav-item:hover{
    background-color: rgba(255, 255, 255, 0.158);
    margin: 2px 10px 2px 10px;
    border-radius: 5px;
}
/* -------------------------------------------NAVBAR STYLING ENDED----------------------------------------------------*/
/* -------------------------------------------SLIDING ANIMATION STYING STARTED----------------------------------------------------*/
/*  Customize the carousel height and width */
#carousel {
    width: 100%;
    max-width: auto; 
    margin: 0 auto;
}

/*  Center the images within the carousel */
#carousel .carousel-inner img {
    height: 791px;
    display: block;
    margin: 0 auto;

}
/* Images Text */
.centered {
    color: whitesmoke;
    font-size: 3rem;
    font-weight:bolder;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
/* -------------------------------------------------Typing Effect in Slider----------------------------------------------*/
/* .typed {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    
  }
  
  .typed::after {
    content: "|";
    margin-left: 5px;
    animation: blink .7s infinite;
  }
  
  @keyframes typing {
      from { width: 0 }
      to { width:100% }
  }
  
  @keyframes blink {
      to { opacity: .0 }
  }
  
  .typed{
      animation-name: typing;
      animation-duration: 5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
  } */
/* -------------------------------------------------Typing Effect in Slider----------------------------------------------*/
/* -------------------------------------------SLIDING ANIMATION STYING ENDED----------------------------------------------------*/
/* OUR SERVICES PART STARTED */
h1.ourservices{
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    color: white;
}

div.pands{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
div.servicecards{
    margin: 0 0px 10px 0px ;
    border-color: rgb(88, 160, 232) ;
    border-width: 5px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.576);
/*     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 */
}
div.servicecards:hover{
    box-shadow: 0 4px 8px 0 rgba(10, 251, 255, 0.714), 0 6px 20px 0 rgb(17, 28, 252);

}
img.serviceimg{
    border-color: black;
    border-width: 5px;

}

a.servicebtn{
    border-color: black;
    border-width: 2px;
    
}
/* OUR SERVICES PART ENDED */

/* ------------------------------------------------FOOTER STYLING----------------------------------------------------------------------------- */

/* ------------------------------------------------FOOTER STYLING----------------------------------------------------------------------------- */